# Core functionality - changes here should be rare!
/src/app.py                   @dai-huu
/src/backend/database.py      @dai-huu
/src/backend/routers/auth.py  @dai-huu

# The frontend will need refactored soon to be more object oriented.
/src/static/   @dai-huu
